.heading{
    width: 100%;
    margin: 0px;
    font-size: 23px;
}
#sp1{
    font-size: 15px;
    color: black;
}
#img1,#img2{
    width: 200px;
    border-radius: 100px;
}
.div1{
    float: left;
}
.div2{
    float: right;
}
#speed,#vol{
    font-size: 23px;
    margin: 15px;
}
.btn1{
    font-size: 25px;
    width: 130px;
}
canvas{
    border: 5px white solid ;
    border-radius: 20px;
}